<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kapukurri" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:configChanges="keyboardHidden|orientation|screenSize" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateFamilyGroupActivity"
            android:label="@string/title_activity_create_family_group" >
        </activity>
        <activity
            android:name=".FamilyTreeActivity"
            android:label="@string/title_activity_family_tree" >
        </activity>
        <activity
            android:name=".RecordAudioActivity"
            android:label="@string/title_activity_record_audio" >
        </activity>
        <activity
            android:name=".AddInfoActivity"
            android:label="@string/title_activity_add_info" >
        </activity>
        <activity
            android:name=".AddTagsActivity"
            android:label="@string/title_activity_add_tags" >
        </activity>
        <activity
            android:name=".StoriesActivity"
            android:label="@string/title_activity_stories" >
        </activity>
    </application>

</manifest>
